* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 0.5rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

main {
    margin-top: 4rem;
    padding: 0 15%;
}

h1, h2, h3{
    margin-bottom: 1rem;
}

button,
select,
details {
    padding: 0.25rem;
    border: 2px solid black;
    color: black;
    border-radius: 0.5rem;
    background-color: transparent;
}

section{
    margin: 4rem 0;
}

details {
    width: 50%;
    margin: 2rem 0;
    text-align: center;
}

details {
    align-items: start;
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    color: white;
    background-color: black;
}

.dividir-texto {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
}

.dividir-texto > div {
    width: 50%;
}

.separar {
    height: 3rem;
}

.identacao{
    margin-left: 3rem;
}

label {
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 6px;
    margin-top: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 12px;
    padding: 8px 12px;
    outline: 2px solid black;
    border: none;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    border: 1px solid #e1e1e1;
    padding: 0.5rem;
    text-align: left;
}

th {
    background: #eee;
}

.fundo-escuro {
    background-color: #cfcfcf;
    padding: 5rem;
    border-radius: 2rem;
}