* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {}

header {
    padding: 0.5rem;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgba(255, 255, 255, 0.5);
}

a {
    text-decoration: none;
    color: black;
}

button,
select,
details {
    padding: 0.25rem;
    border: 2px solid black;
    color: black;
    border-radius: 0.5rem;
    background-color: transparent;
}

details {
    width: 50%;
    margin: 2rem 0;
    text-align: center;
}

.texto {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 1rem;
}

.imagem {
    border-radius: 1rem;
}

#inicio {
    height: 100vh;
    background-image: url(../imagens/fundo-inicio.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 2rem;
    color: white;
}

#sobre {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

#trabalhoCom {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.linhaImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

details {
    align-items: start;
    padding: 1rem;
}

footer {
    text-align: center;
    padding: 0.5rem 0;
    color: white;
    background-color: black;
}