* {
    padding: 0;
    margin: 0;
    font-family: monospace
}

.monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    max-height: 5vh;
    padding: 1rem;
    background-color: black;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    font-size: 1.25rem;
    color: white;
    text-decoration: none;
}

header nav select {
    padding: 0.25rem;
    border: 2px solid white;
    border-radius: 1rem;
    background-color: black;
    color: white;
}

main {
    height: 90vh;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

#capa-home {
    width: 50%;
    outline: 1px solid black;
    padding: 3rem 3rem;
}

#capa-home h1{
    font-family: "Monsieur La Doulaise", cursive;
    font-size: 5rem;
    font-weight: 400;
    font-style: normal;
}